
a[href]{
    color : green;
}

a[target="_blank"] {
    color: red
}

 #second-div p:nth-child(2n+2) {
     color: red;
 }

 #second-div p:nth-child(2n+1) {
    color: blue;
}

.dva::after{
    content: "new";
    color: yellow;  
}

.tri::after{
    content: "new";
    color: yellow;  
}

#deseti:hover{
    font-style: italic;
}

 

